@model MESBG.Models.ClasificacionViewModel
@using MESBG.Models

@{
    ViewData["Title"] = "Clasificación";
}

<h1>Clasificación</h1>

<table class="table">
    <thead>
        <tr>
            <th>Jugador</th>
            <th>Total Ptos Victoria Obtenidos</th>
            <th>Total Ptos Victoria Cedidos</th>
            <th>Total Dif Ptos Victoria</th>
            <th>Líderes Abatidos</th>
            <th>TOTAL</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var clasificacionJugador in Model.Clasificacion)
        {
            <tr>
                <td>@clasificacionJugador.Nick</td>
                <td>@clasificacionJugador.TotalPtosVictoriaObtenidos</td>
                <td>@clasificacionJugador.TotalPtosVictoriaCedidos</td>
                <td>@clasificacionJugador.TotalDifPtosVictoria</td>
                <td>@clasificacionJugador.TotalLideresAbatidos</td>
                <td>@clasificacionJugador.Total</td>
            </tr>
        }
    </tbody>
</table>














