@model MESBG.Models.HomeViewModel
@using MESBG.Models

@{
    ViewData["Title"] = "Bienvenido al torneo de MESBG ";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-4.7.0" crossorigin="anonymous" />
<link rel="stylesheet" href="~/css/custom.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11">

@Html.HiddenFor(m=>m.UltimoEvento.Id)

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-6 text-right pr-4">
            <!-- Añade pr-4 para un margen derecho adicional --> 
@*            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#myModal">
                Iniciar sesión
            </button>*@
            <button type="button" class="btn btn-primary nuevo-evento-link">
                Nuevo evento
            </button>
            <button type="button" class="btn btn-primary modificar-evento-link">
                Modificar evento
            </button>
        </div>
    </div>
</div>

<div class="text-center">
    <h1 class="text-center mt-3">@ViewData["Title"]</h1>
</div>


<h1 id="UltimoEventoTitulo" class="text-center">@Model.UltimoEvento?.Titulo</h1>

<div class="row justify-content-center">
    <div class="col-md-6 text-center">
        @if(!string.IsNullOrEmpty(Model.UltimoEvento?.Imagen)){
            <img src="~/images/ImagenesEventos/@Model.UltimoEvento?.Imagen" alt="Mi Imagen" style="width:400px; height:400px;" />
        }        
    </div>
</div>

<div class="mt-4" style="margin:auto">
    <div class="col-12 row">
        <div class="col-6 text-md-end"><b>Descripción:</b></div>
        <div class="col-6 text-start"> @Model.UltimoEvento?.Descripcion</div>
    </div>
    <div class="col-12 row">
        <div class="col-6 text-md-end"><b>Fecha:</b></div>
        <div class="col-6 text-start">@Model.UltimoEvento?.FechaEvento</div>
    </div>
    <div class="col-12 row">
        <div class="col-6 text-md-end"><b>Hora:</b></div>
        <div class="col-6 text-start">  @Model.UltimoEvento?.HoraEvento</div>
    </div>
    <div class="col-12 row">
        <div class="col-6 text-md-end"><b>Fecha límite de inscripción:</b></div>
        <div class="col-6 text-start">  @Model.UltimoEvento?.PeriodoInscripcion</div>
    </div>
</div>

<!-- Modal para Crear Evento -->
<div class="modal fade" id="modalEvento" tabindex="-1" role="dialog" aria-labelledby="modalEventoTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalEventoTitle"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>                
            </div>
            <div class="modal-body">
                <!-- Formulario para crear el evento -->
                <form id="formEvento">
                    <div class="form-group">
                        <label for="Titulo">Título</label>
                        <input type="text" class="form-control" id="Titulo" name="Titulo" placeholder="Título del evento" required>
                    </div>
                    <div class="form-group" style="overflow-x:auto">
                            <label for="Imagen">Selecciona una imagen</label>
                            <div class="image-wrapper">
                                <div class="image-container" id="imagesContainer">

                                </div>
                            </div>
                        @*<label for="Imagen">Imagen</label>
                        <input type="file" class="form-control-file" id="Imagen" name="Imagen">*@
                    </div>
                    <div class="form-group">
                        <label for="Descripcion">Descripción</label>
                        <input type="text" class="form-control" id="Descripcion" name="Descripcion" required>
                    </div>
                    <div class="form-group">
                        <label for="Fecha">Fecha</label>
                        <input type="date" class="form-control" id="FechaEvento" name="FechaEvento" required>
                    </div>
                    <div class="form-group">
                        <label for="Hora">Hora</label>
                        <input type="time" class="form-control" id="HoraEvento" name="HoraEvento" required>
                    </div>
                    <div class="form-group">
                        <label for="PeriodoInscripcion">Fecha límite de inscripción</label>
                        <input type="date" class="form-control" id="PeriodoInscripcion" name="PeriodoInscripcion" placeholder="Fecha de Inicio - Fecha de Fin" required>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" id="btnGuardarEvento">Guardar</button>
            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/js/custom.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
