@model MESBG.Models.PuntuacionesViewModel
@using MESBG.Models

@{
    ViewData["Title"] = "Puntuaciones";
    
}

<h1>Puntuaciones</h1>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-4.7.0" crossorigin="anonymous" />
<link rel="stylesheet" href="~/css/custom.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11">

<div class="d-flex justify-content-end align-items-center mb-3">
    <div class="d-flex align-items-center">
        <label for="filtro-ronda" class="me-2">Filtrar por ronda:</label>
        <select id="filtro-ronda" class="form-control" style="width: 200px;">
            <option value="">Todas las Rondas</option>
        </select>
    </div>
    <div class="ms-2">
        <button class="btn btn-primary nueva-puntuacion-btn">Nueva puntuación</button>
    </div>
</div>

@{
    var jugadoresDisponibles = Model.JugadoresDisponibles;
}

<div id="jugadores-disponibles" style="display: none;">@string.Join(",", jugadoresDisponibles)</div>


<table id="tablaPuntuaciones" class="table">
    <thead>
        <tr>
            <th hidden>Id</th>
            <th>Jugador</th>
            <th>Punto de partida</th>
            <th>Puntos de victoria obtenidos</th>
            <th>Puntos de victoria cedidos</th>
            <th>Diferencia de puntos de victoria</th>
            <th>Líder abatido</th>
            <th>Ronda</th>
            <th>Opciones</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Puntuaciones.Count > 0)
        {
            @foreach (var puntuacion in Model.Puntuaciones)
            {                
                <tr>
                    <td hidden>
                        <input type="text" name="id" class="form-control id-input editable-input" value="@puntuacion.Id" readonly />
                    </td>
                    <td>
                        <select class="form-control select-nick editable-select" disabled>
                            <option value="">Seleccione un jugador</option>
                            @foreach (var nick in Model.JugadoresDisponibles)
                            {
                                <option value="@nick" selected = "@(nick == puntuacion.Nick)">@nick</option>
                            }
                        </select>
                    </td>
                    <td>
                        <select class="form-control select-punto-partida editable-select" disabled>
                            <option value="3" selected = "@(puntuacion.PuntoPartida == 3)">3</option>
                            <option value="1" selected = "@(puntuacion.PuntoPartida == 1)">1</option>
                            <option value="0" selected = "@(puntuacion.PuntoPartida == 0)">0</option>
                        </select>
                    </td>
                    <td>
                        <select class="form-control select-puntos-victoria-obtenidos editable-select" disabled>
                            @for (int i = 0; i <= 100; i++)
                            {
                                <option value="@i" selected = "@(i == puntuacion.PuntosVictoriaObtenidos)">@i</option>
                            }
                        </select>
                    </td>
                    <td>
                        <select class="form-control select-puntos-victoria-cedidos editable-select" disabled>
                            @for (int i = 0; i <= 100; i++)
                            {
                                <option value="@i" selected="@(i == puntuacion.PuntosVictoriaCedidos)">@i</option>
                            }
                        </select>
                    </td>
                    <td class="diferencia-puntos-victoria">@puntuacion.DiferenciaPuntosVictoria</td>
                    <td>
                        <select class="form-control select-lider-abatido editable-select" disabled>
                            @for (int i = 0; i <= 100; i++)
                            {
                                <option value="@i" selected="@(i == puntuacion.LiderAbatido)">@i</option>
                            }
                        </select>
                    </td>
                    <td>
                        <select class="form-control select-ronda editable-select" disabled>
                            @for (int i = 0; i <= 100; i++)
                            {
                                <option value="@i" selected="@(i == puntuacion.Ronda)">@i</option>
                            }
                        </select>
                    </td>
                    <td class="col-1">
                        <button class="btn btn-link editar-puntuacion-btn" title="Editar"><i class="far fa-edit"></i></button>
                        <button class="btn btn-link guardar-puntuacion-btn" title="Guardar" style="display: none;"><i class="far fa-save"></i></button>
                        <button class="btn btn-link eliminar-puntuacion-btn" title="Eliminar"><i class="far fa-trash-alt"></i></button>
                    </td>

                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="6">No hay participantes registrados.</td>
            </tr>
        }
    </tbody>
</table>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/js/custom.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

